<% layout('layouts/boilerplate')%>

<div id="cluster-map">
</div>  

<div class="container" style="margin-top: 20px">

 
 <div class="row">
      <div class="col-sm-10">
              <h4>Facility Index (total: <%=campgrounds.length%>)</h4>
      </div> 
      <div class="col-sm-2">
        <% if(currentUser){ %>
                <a href="/campgrounds/new" class="p-2 flex-grow-1 bd-highlight">New Site</a>
              <% } else { %>
                <a href="/login?returnTo=/campgrounds/new" class="p-2 flex-grow-1 bd-highlight">New site</a>
              <%}%>
      </div>        
  </div>

  <div class="d-flex bd-highlight"> <input type=" text" id="myInput3" onkeyup="myFunction()"
        style="width:12em; padding: 2px 2px 5px 10px; margin-left: auto; margin-right: 0" placeholder="Filter Facility code ...">
  </div>

  <div class="table-responsive">
      <table class="table" ; id="eoiTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">
                    Facility
                    </th>
                    <th>
                        Type
                        </th>
                    <th>
                    Province
                    </th>
                    <th>
                    Facility code
                    </th>
                </tr>
            </thead>

            <tbody>
                    <% for (let campground of campgrounds){%>  
                    <td>   
                    <a href="/campgrounds/<%=campground._id%>"><%=campground.name%></a> 
                    </td>
                    <td>
                        <%= campground.facility_type %>
                        </td>
                    <td>
                    <%= campground.province %>
                    </td>
                    <td>
                    <%= campground.hf_code%>
                    </td>
          </tbody>  
        <% }%>  
    </table>    
 
  <p><a class="btn btn-sm btn-primary" href="/departments">Go to Department Index</a> </p> 

  </div>   
</div>  


    

      
      

       
       
   
  
 

  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {features: <%- JSON.stringify(campgrounds)%>}
  </script>

  <script src="/javascripts/clusterMap.js"></script>

  <script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("eoiTable");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>


<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        table = document.getElementById("eoiTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>