<% layout('layouts/boilerplate')%>

    <h1 style="font-size: 2.5vw"> <span style="color:rgb(129, 81, 3)">Mal Asset Index</span></h1>
    

    <div class="d-flex bd-highlight"> <input type=" text" id="malAsset" onkeyup="myFunction()"
        style="width:12em; padding: 2px 2px 5px 10px; margin-left: auto; margin-right: 0" placeholder="Filter Facility ...">
  </div>


    <div class="table-responsive">
        <table class="table" ; id="malassetTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">
                        <span style="color:rgb(129, 81, 3)"> Equipment</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)"> Manufacturer</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Country Origin</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Model</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Manual</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Serial Number</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)"> ID Number</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Manufacture Year</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Installation</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Not working since</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Spare parts</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Funding</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Scrap/Repair</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">WO Sent out to</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">WO Sent out when</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Facility</span>
                        </th>
                        <th>
                            <span style="color:rgb(129, 81, 3)">Department</span>
                        </th>
                </tr>
            </thead>

            <tbody>
                <tr><% for (let malasset of malassets){%>
                    <td>
                        <%= malasset.name%>
                        </td>
                        <td>
                        <%= malasset.manufacturer%>
                        </td>
                        <td>
                        <%= malasset.country%>
                        </td>
                        <td>
                        <%= malasset.model%>
                        </td>
                        <td>
                        <%= malasset.manual%>
                        </td>
                        <td>
                        <%= malasset.serial%>
                        </td>
                        <td>
                        <%= malasset.idNumber%>
                        </td>
                        <td>
                        <%= malasset.mfYear%>
                        </td>
                        <td>
                        <%= malasset.installDate.getMonth()%> / <%= malasset.installDate.getFullYear()%> <br> (<%= moment(malasset.installDate).fromNow() %>)
                        </td>
                        <td>
                        <%= malasset.malSince.getMonth()%>  / <%= malasset.malSince.getFullYear()%> <br> (<%= moment(malasset.malSince).fromNow() %>)
                        </td>
                        <td>
                        <%= malasset.sparePart%>
                        </td>
                        <td>
                        <%= malasset.fund%>
                        </td>
                        <td>
                        <%= malasset.scrap%>
                        </td>
                        <td>
                        <%= malasset.wOrderTo%>
                        </td>
                        <td>
                        <%= malasset.wOrderWhen.getMonth()%>  / <%= malasset.wOrderWhen.getFullYear()%> <br>  (<%= moment(malasset.wOrderWhen).fromNow() %>)
                        </td>
                        <td>
                        <%= malasset.department.campground.name%>
                        </td>
                        <td>
                        <%= malasset.department.deptName%>
                        </td>
                </tr>
                </tbody>  
                <% }%>
            </table>
    
            <p><a class="btn btn-sm btn-warning" href="/departments">Go to Department Index</a> </p> 
        </div>

        <script>
            function sortTable(n) {
                var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                table = document.getElementById("malassetTable");
                switching = true;
                // Set the sorting direction to ascending:
                dir = "asc";
                /* Make a loop that will continue until
                no switching has been done: */
                while (switching) {
                    // Start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /* Loop through all table rows (except the
                    first, which contains table headers): */
                    for (i = 1; i < (rows.length - 1); i++) {
                        // Start by saying there should be no switching:
                        shouldSwitch = false;
                        /* Get the two elements you want to compare,
                        one from current row and one from the next: */
                        x = rows[i].getElementsByTagName("TD")[n];
                        y = rows[i + 1].getElementsByTagName("TD")[n];
                        /* Check if the two rows should switch place,
                        based on the direction, asc or desc: */
                        if (dir == "asc") {
                            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == "desc") {
                            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                                // If so, mark as a switch and break the loop:
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        /* If a switch has been marked, make the switch
                        and mark that a switch has been done: */
                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                        // Each time a switch is done, increase this count by 1:
                        switchcount++;
                    } else {
                        /* If no switching has been done AND the direction is "asc",
                        set the direction to "desc" and run the while loop again. */
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
        </script>
    
    
        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("malAsset");
                filter = input.value.toUpperCase();
                table = document.getElementById("malassetTable");
                tr = table.getElementsByTagName("tr");
    
                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[12];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    